/*
This css file is here to add functionality and style elements that
were needed. You do not need to edit this file or use it in any way.
 */

 /* All MAIN containers need it to compensate for navbar */
 .banner {
  /* height: 90vh; */
  padding-top:10vh;
}

nav {
  padding: 10px;
}

.margin-auto {
  margin: 0 auto;
}

.extra-margin {
  margin: 0 100px;
}

.is_flex_wrap {
  display: flex;
  flex-wrap: wrap-reverse;

}


 .logo {
    background: url(images/Logo.png) no-repeat center center;
    background-size: cover;
    width: 300px;
  }
  /* INDEX */
  #home_banner{
    /* background: url(images/hero.png) no-repeat center center; */
    background-size: cover;
    width: 100%;
    color: #ee6d66 !important;
    background:#f3f3f4;
  }

#hero_img {
      background: url(images/groceries.png) no-repeat center center;
      width: 300px;
      height: 250px;
      background-size: contain;
      margin: 30px;
}

  #logo_font{
    font-family: 'Libre Baskerville', serif;
    font-size: 75px;
  }
 
 
  .justify-center .column{
    display: flex !important;
    justify-content: center !important;
}

.is-family-secondary{
    font-family: 'Sansita Swashed', cursive;
    font-size: 6em !important;
    color:#ee6d66 !important;
}

.yellow_button {
  background-color: #ee6d66;
  padding: 10px;
  border-style: none;
  border-radius: 4px;
  font-size: 100%;
  font-weight: normal;
}


#about_banner {
  margin: 0 50px;
}

/* QUIZ */
.quiz_banner{
  /* height: 80vh; */
  background-color:#f2e2d9;
  /* background-image: url('images/soundwave.png'); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#quiz{
  width: 60vw;
  margin: 0 auto;
  padding-top: 5%;
  text-align: center;
}

#quiz_cont{
  background-color: #ee6d66;
  border-radius: 7px;
  padding: 10px;
  color: hsl(0, 0%, 96%);
  /* box-sizing: border-box; */
}

.answer {
  height: 150px;
  color: hsl(0, 3%, 15%);
  display: flex !important;
  justify-content: center;
  align-content: center;
  border-radius: 7px;
  background-color:#f3f3f4; 
}

.answer:hover {
  opacity: .7;
}

.ans_container {
  width: 50%;
}

.answer p{
  margin: auto;
  font-size: 18px;
}

#ans{
  width: 50%;
  height: 50%;
  float: left;
  border-radius: 5px;
  padding: 1%;
  border: 1px solid black;
}


/* PROFILE PAGE */

.profile-pic {
  border-radius: 50%;
  margin: 10px auto;
  

  width: 100px;
  background-image: url('images/person.jpg');
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}




.cardRoot .box {
  width: 400px;

}

/* LOGIN/SIGNUP */
.SignLog_banner{
  height: 85vh;
}

#SignLog_cont {
  align-items: center;
  width: 25%;
  margin: 0 auto;
  padding-top: 20vh;
  /* text-align: center; */
}
